<section id="main-info">
  <div class="container">
    <img src="http://lorempixel.com/300/400"/>
    <p id="body-info" > .שמי ברק בניטה, ואני מטפל ברפואה משלימה משולבת<br>
    מוסמך למדעי.ם (BSc.) בהנדסת מחשבים, בוגר הטכניון<br>
    ."מוסמך כמטפל מומחה בשיאצו ע"י מכללת "תמורות<br>
    ."מוסמך כמטפל בדיקור סיני ע"י מכללת "תלתן<br>
    ."מוסמך כמטפל בתרפיה אתרית ופסיכותרפיה רוחנית ע"י מכללת "כלים שלובי<br>
    .משנת 2009 מטפל בקליניקה פרטית בחיפה ונתניה<br>
    .המסע האישי שלי לאורך השנים מעמיק ומחבר היטב בין החומר, הנפש והרוח<br>
    .מקצועיות, אהבת האדם ומסירות בלתי מתפשרת הם הקוים שמנחים אותי בכל מפגש<br>
    ,שיטות הטיפול המגוונות והניסיון שרכשתי במהלך השנים<br>
    .מאפשרות לי לסייע במגוון רחב מאוד של בעיות פיזיולוגיות ונפשיות<br>
    .אשמח לעזור
    </p>
  </div>
</section>
