<div>
  <section id="main-info">
    <div class="jumbotron">
      <h1>ברק בניטה</h1>
      <h3>מטפל ברפואה משלימה משולבת</h3>
      <h3><span id="treatments-info">תחומי טיפול</span></h3>
    </div>
  </section>

<!--Treatments panels -->
  <section class="treatments">
    <div class="container">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">אורטופדיה וכאב</h3>
        </div>
        <div class="panel-body">
          <p>
          כאבי שרירים • כתף קפואה • כאבי צוואר • כאבי גב • כאבי שכמות וכתפיים • כאבי ידיים • תסמונת התעלה הקרפלית • מרפק טניס • כאבי פנים ולסת • כאבי רגליים • כאבי ברכיים • סיאטיקה • כאבי ירך • כאבי ראש • מיגרנות
          </p>
        </div>
      </div>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">בעיות רגשיות</h3>
        </div>
        <div class="panel-body">
          <p>
          לחץ • פחד וחרדה • דכאון • פוסט טראומה • התמכרות • אכילה רגשית • דחק נפשי • התנהגות כפייתית • אי שקט • ליווי ותמיכה במצבי משבר • דיסוציאציה • כאבים, מחלות ותופעות פסיכוסומטיות
          </p>
        </div>
      </div>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">מערכתיות וכרוניות</h3>
        </div>
        <div class="panel-body">
          <p>
        אינסומניה (הפרעות שינה) • פיברומיאלגיה • תשישות כרונית • מחלות אוטואימיוניות • מערכת חיסונית חלשה • תמיכה בהתאוששות מניתוחים ומחלות • כאבים ותופעות ללא ממצא פיזי • טיפולים לרפואה מונעת
          </p>
        </div>
      </div>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">גניטליה, פוריות והריון</h3>
        </div>
        <div class="panel-body">
          <p>
        הקלה על תסמיני הריון • בעיות פוריות • בעיות מחזור • בעיות גניטליות • הקלה בתופעות גיל המעבר • ליווי תהליכי הפרייה
          </p>
        </div>
      </div>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">עיכול</h3>
        </div>
        <div class="panel-body">
          <p>
          קיבה רגיזה • עצירות • שלשול • גסטריטיס • מעי רגיש • כאבי בטן • קוליטיס • ריפולוקס • נפיחות • מערכת עיכול חלשה • הקאות • בחילות
          </p>
        </div>
      </div>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">אף-אוזן-גרון</h3>
        </div>
        <div class="panel-body">
          <p>
          סינוסיטיס • ברונכיטיס • התקררויות חוזרות • דלקות אוזניים • קשיי נשימה • אסטמה • אלרגיות • כאבי גרון
          </p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <span>"</span>
      <p style="display: inline" class="review">אני ממליץ עליי כי הוא פשוט<br>
        תותח על ואין כמוהו בעולם<br>
        ואני לא משקר כי אני אמיני האמין</p>
        <span>"</span>
      <p class="reviewer">אני ועצמי</p>
    </div>
  </section>
</div>
