

<header>
  <div class="container">
    <div id="logo">
      <h1>ברקי</h1>
    </div>
    <nav>
      <ul >
        <li><a [routerLinkActive]="['link-active']"  [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/contact']">צור קשר</a></li>
        <li><a [routerLinkActive]="['link-active']"  [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/about']">אודות</a></li>
        <li><a [routerLinkActive]="['link-active']"  [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/reviews']">מטופלים כותבים</a></li>
        <li><a [routerLinkActive]="['link-active']"  [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/articles']">מאמרים</a></li>
        <li><a [routerLinkActive]="['link-active']"  [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/treatments']">טיפולים</a></li>
        <li><a [routerLinkActive]="['link-active']"  [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/home']">בית</a></li>
      </ul>
    </nav>
  </div>
</header>
